@model HR_System_Assignment.ViewModels.DepartmentViewModel
@{
    ViewData["title"] = Model.Id == 0 ? "Add Department" : "Update Department";
}

@section scripts{
    <script src="~/js/scriptDeptTable.js"></script>
}

<body>
   <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
         <h2 class="fw-bold mb-5 col-lg-8">@ViewData["title"]</h2>
         <form asp-action="AddOrUpdate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <!-- Name input -->
            <div class="form-outline mb-4">
               <label class="col-form-label" for="dept_name">Department Name<span class="required">*</span></label>
               <input asp-for="Name" type="text" id="dept_name" class="form-control" maxlength="100" autocomplete="off"/>
               <span asp-validation-for="Name" class="text-danger"></span>
                    @if (@ViewData["ValidateMessage"] == "already exists")
                    {
                   <span class="text-danger">*This Department already exists.</span>
                    }
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
               <label class="form-label" for="description">Description</label>
               <textarea asp-for="Description" class="form-control" id="description" rows="4" maxlength="500"></textarea>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-customized btn-block mb-4">Submit</button>
         </form>
      </div>
   </div>
</body>
